%container {
    width: 1400px;
    margin: 0 auto;
    @media (max-width: $point-exl) {
        width: 1140px;
    }
    @media (max-width: $point-xl) {
        width: 960px;
    }
    @media (max-width: $point-lg) {
        width: 720px;
    }
    @media (max-width: $point-md) {
        width: 540px;
    }
    @media (max-width: $point-sm) {
        width: auto;
        padding: 0 10px;
    }
}