.layout-container {
    footer {
        width: 100%;
        background-color: $logo_background;
        min-height: 150px;
        margin-top: 20px;
    }
}
.region-footer {
    @extend %container;
    display: flex;
    .block-system-branding-block {
        flex-flow: column nowrap;
        text-align: center;
        background-color: $logo_background;
        padding: 15px 40px;
        .site-name {
            font-size: 40px;
            color: $blue_text;
        }
        .site-slogan {
            color: $slogan_text;
        }
        margin-right: auto;
    }
    .block-sociallinks-2 {
        margin: auto 0;
        font-size: 26px;
    }
    .field--name-field-social- {
        display: flex;
    }
}