.region-content.path-contact {
    @extend %container;
    display: flex;
    justify-content: space-between;
    position: relative;
    .contact-message-feedback-form {
        label {
            display: none;
        }
        textarea,
        input {
            resize: none;
            width: 100%;
            line-height: 3em;
            &::placeholder {
                padding-left: 10px;
                text-transform: uppercase;
            }
            &[type="submit"] {
                text-transform: uppercase;
                width: 35%;
                background-color: red;
                color: $white_text;
                border: none;
                line-height: 3em;
            }
        }
    }
    .block-contactmap {
        margin-left: 20px;
        .field {
            display: flex;
            flex-direction: column;
            height: calc(100% - 70px);
        }
        .contact-info {
            margin-top: 20px;
            line-height: 2em;
        }

        iframe {
            border: none;
            margin-top: auto;
        }

    }
    @media (max-width: $point-xl) {
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .block-contactmap {
            flex-basis: 100%;
            text-align: center;
            iframe {
                width: 100%;
            }
        }
    }
}