.block-views-blockview-services-block-1 {
    @extend %container;
    .view-content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 5rem;
        .views-row {
            flex: 1 1 calc((100% / 4) - 15rem);
            text-transform: uppercase;
            h2 {
                font-weight: 400;
                color: $black_text;
                margin: 20px 0 10px;
            }
            .field--name-body {
                color: $gray_text;
                font-size: 12px;
                margin-bottom: 30px;
            }
            .node__links a {
                display: inline-block;
                padding: 5px;
                color: $white_text;
                background-color: $blue_text;
            }
        }
    }
}