.block-views-block-team-block-1 {
    @extend %container;
    .view-content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        .views-row {
            flex: 1 1 calc((100% / 4) - 6rem);
            text-transform: uppercase;
            .field--name-field-{
                &first-name,
                &last-name,
                &facebook,
                &twitter,
                &linkedin {
                    display: inline-block;
                }
                &first-name,
                &last-name{
                    font-size: 1.5em;
                    margin-top: 20px;
                }
                &position{
                    color: $gray_text;
                    font-size: 12px;
                }
                &linktouser a {
                    margin: 20px 0;
                    display: inline-block;
                    padding: 8px;
                    color: $white_text;
                    background-color: $black_text;
                }
                &facebook,
                &twitter,
                &linkedin {
                    display: inline-block;
                    font-size: 30px;
                }
                &linkedin {
                    margin-right: 100px;
                }
            }
            .flag-like {
                display: inline;
                color: $gray_text;
                font-size: 20px;
            }
        }
    }
}